<form action= <%= users_url %> method="POST">
<label> USERNAME:
    <input type="text" name="user[username]">
</label>

<label> PASSWORD: 
    <input type="text" name="user[password]">
</label>

<label> SUBMIT 
    <input type="submit">

</form>
<br>
<a href="/cats">Back to the Cats!</a>
